<h2>
  Новостная рассылка Hivemaind
</h2>
<div id="newsletterSignupFormContainer">
  <form class="form-horizontal" role="form" id="newsletterSignupForm">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <div class="form-group">
      <label for="fieldName" class="col-sm-2 control-label">
        Имя
      </label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="fieldName" name="name">
      </div>
    </div>
    <div class="form-group">
      <label for="fieldEmail" class="col-sm-2 control-label">
        Электронный адрес
      </label>
      <div class="col-sm-4">
        <input
          type="email"
          class="form-control"
          required
          id="fieldEmail"
          name="email"
        >
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <button type="submit" class="btn btn-default">
          Зарегистрироваться
        </button>
      </div>
    </div>
  </form>
</div>

{{#section 'scripts'}}
<script>
    document.getElementById('newsletterSignupForm')
        .addEventListener('submit', event => {
            event.preventDefault()
            const form = event.target
            const body = JSON.stringify({
                _csrf: form.elements._csrf.value,
                name: form.elements.name.value,
                email: form.elements.email.value
            })
            const headers = { 'Content-Type': 'application/json' }
            const container = document.getElementById('newsletterSignupFormContainer')
            fetch('/api/newsletter-signup', { method: 'post', body, headers })
            .then(resp => {
                if(resp.status < 200 || resp.status >= 300) throw new Error(`Запрос отклонен со статусом ${resp.status}`)
                return resp.json()
            })
            .then(json => {
                container.innerHTML = '<b>Спасибо, что подписались</b>'
            })
            .catch(err => {
                container.innerHTML = '<b>Извините, возникли проблемы при подписке. </b>' + `Пожалуйста, <a href="/newsletter">попробуйте ещё раз</a>`
            })
        })
</script>
{{/section}}